%div{style: "padding: 20px 40px;"}
  %p{style: "font-size: 15px;"}
    Please use the confirmation message below to activate your encryption key.
  %p{style: "color: #220872; font-size: 23px; font-weight: 700; padding-left: 30px;"}
    %span{style: "letter-spacing: 3px;"}
      :plain
        #{@encrypted_code}

  %p{style: "font-size: 15px;"}
    If you did not request a confirmation message, you can disregard this e-mail.
  %p{style: "font-size: 15px;"}
    If you are constantly receiving confirmation messages without requesting them, please send an e-mail to support@encrypt-me.org.
